<div class="footer nopads">
    <div class="pull-left copyright">
        &copy; @DateTime.Now.Year Palladium
    </div>
    <div class="pull-right">
        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:help@palladiumgroup.on.spiceworks.com">help@palladiumgroup.on.spiceworks.com</a>
        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:0800-722440">0800-722440</a>
        <img src="~/Images/org/palladiumlogo.png" alt="Palladium" />
    </div>
</div>
