@using DWHDashboard.ProfileManagement.Core.Model
@using DWHDashboard.Web.Helpers
<div class="row border-bottom">
    <nav class="navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; height: 100px">
        <div class="row">
            <div class="col-md-2">                
            </div>
            <div class="col-md-4"><img src="~/Images/org/dwh2.png" class="img-responsive center-block" style="padding: 8px 1px 5px 4px;"></div>
            <div class="col-md-4"><img src="~/Images/org/partners2.png" class="img-responsive center-block" style="padding: 8px 1px 5px 4px;"></div>
            <div class="col-md-2">
                <div class="logout">
                    <div class="logouttext">
                        <a href="@Url.Action("Dashboard_1", "Dashboards")">
                            <i class="fa fa-sign-out"></i> <strong>Home</strong>
                        </a>
                    </div>
                </div>
            </div>
            </div>
</nav>
</div>